body{
    background-color: burlywood;
}
.card{
    background-color: blanchedalmond;
    margin: 10vw 40vw 10vw 40vw;
    text-align: center;
    padding: 1vw;
    box-shadow: 0 8px 25px rgb(0, 0.5, 1);
    transition: transform 0.3s ease; 
}
.screen{
    text-align: center;
    font-size: 40px;
    padding: 10px 20px;
}
.btn{
    border: none;
    width: 28%;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: large;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0 2px 5px rgb(0, 0, 0.5);
    transition: tarnsform 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.btn:hover{
    transform: scale(1.1);
}
